.knowledgeArticle.border-start {
    padding: 0 0 0 15px;
    border-left: 2px solid #04a9c5;
    margin: 30px 0;
}

.knowledgeArticle .externalLink a {
    color: #088099;
    font-size: 1.6rem;
    font-weight: 500;
    text-decoration: none;
}

.knowledgeArticle .externalLink a:hover {
    text-decoration: underline;
}

.knowledgeArticle .standardContent img.card-img {
    padding: 0;
}

@media screen and (max-width: 991.99px) {
    .knowledgeArticle.card {
        padding-right: 15px;
    }
    .articleSummary.card-body {
        padding-top: 1rem;
    }
}
